@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Teko:wght@600&display=swap");
.body {
  font-family: "Poppins", sans-serif;
}

.menuTabs {
  font-weight: bolder;
  color: #42c1ba;
  font-size: 150%;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  text-align: right;
}
.menuTabs:hover {
  color: #905FD0;
}

.banerHero {
  background-image: url("img/banner-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 2%;
}
.banerHero .TituloIndex {
  text-align: center;
  font-size: 250%;
  color: white;
  font-weight: 1500;
  padding-top: 10%;
}
.banerHero .BajadaIndex {
  font-size: 150%;
  top: 50%;
  left: 50%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: white;
}
.banerHero .btn-primary {
  background-color: #905FD0;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 120%;
  border: none;
}
.banerHero .btn-primary:hover {
  background-color: #42c1ba;
}

.grid-container {
  display: grid;
  height: 30%;
  padding: 10px;
  margin: 15px;
  margin-left: 3%;
  text-align: center;
  border-radius: 15PX;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  grid-column-gap: 30px;
  padding-top: 3%;
}
.grid-container .grid-item {
  grid-template-columns: auto;
  background-color: #42c1ba;
  border-radius: 12px;
}

.bannersInfo {
  text-align: center;
  color: #381487;
}

.tituloInfo {
  font-weight: bolder;
  font-size: 150%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: #381487;
}

.beneficiosTitulo {
  text-align: center;
  font-size: 170%;
  font-weight: 1200;
  color: #381487;
  padding-top: 3%;
  padding-bottom: 2%;
}

.beneficiosLista {
  display: list-item;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 120%;
  font-weight: 500;
  color: #381487;
  list-style-position: outside;
  list-style-image: url("img/lista.png");
  padding-bottom: 5%;
}
.beneficiosLista .li {
  padding-top: 2%;
}

.grid-container-testimonios {
  display: grid;
  height: 40%;
  text-align: center;
  border-radius: 15PX;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  padding-top: 0%;
}
.grid-container-testimonios .grid-item-testimonios {
  background-color: #194c66;
  padding: 5%;
}

.nombreTestimonio, .pTestimonio {
  font-weight: bolder;
  font-size: 100%;
  color: white;
}

footer {
  font-weight: bold;
  font-size: 150%;
  text-align: right;
  margin-right: 3%;
  color: #381487;
  font-family: "Teko", sans-serif;
  padding-top: 3%;
}

.facebook {
  padding-right: 2%;
  padding-bottom: 3%;
}

.bannerContacto {
  background-image: url("img/contacto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 10%;
}

.contactanos {
  font-size: 200%;
}

.bajadaContacto {
  font-size: 100%;
}

.grid-item-contacto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 50px;
  padding-top: 2%;
  padding-left: 35%;
  padding-right: 35%;
  font-weight: 700;
  color: #381487;
}

.boton-enviar {
  background-color: #42c1ba;
  border-radius: 12px;
  color: #194c66;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
}

.tituloPrograma {
  text-align: center;
  background-image: url("img/banner-hero-fq.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 120%;
  padding: 10%;
}
.tituloPrograma .pPrograma {
  color: white;
  text-align: center;
  font-weight: 600;
}

.bloques {
  margin-left: 10%;
}

.h3Programa {
  padding: 1%;
  color: #42c1ba;
  text-decoration: none;
}

.h2Programa {
  padding-top: 5%;
  color: #194c66;
  font-size: 200%;
  text-decoration: underline;
}

.bannerHeroFaqs {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/faqs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 120%;
  padding: 10%;
}

.acordeon {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1%;
  padding-right: 1;
}
.acordeon .accordion-body {
  color: #381487;
}

.accordion-button {
  color: #381487;
  font-size: 60%;
  font-weight: bold;
}
.accordion-button.accordion-button:not(.collapsed) {
  background-color: #6bd9d4;
}

.tituloNosotros {
  padding-bottom: 2%;
  padding-left: 10%;
  color: #381487;
}

.Nosotros {
  margin-left: 10%;
  margin-right: 10%;
  color: #381487;
  font-size: medium;
}

.grid-container-nosotros {
  display: grid;
  grid-template-areas: "parrafo imagenGabi";
}

#parrafo {
  grid-area: parrafo;
}

#imagenGabi {
  grid-area: imagenGabi;
}

.imgNosotros {
  width: 65%;
  border-radius: 20px;
  margin: 5%;
}

.beneficios {
  padding-top: 5%;
  text-align: center;
}

.h2Beneficios {
  color: #194c66;
  text-align: center;
}

.ulBeneficios {
  display: list-item;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #381487;
  text-align: center;
  font-size: 120%;
  list-style-position: outside;
  list-style-image: url("img/beneficios.png");
}

.hrNosotros {
  height: 3px;
  background-color: #42c1ba;
  color: #42c1ba;
  border-width: 0;
  margin-left: 30%;
  margin-right: 30%;
}

@media (max-width: 500px) {
  /*MAIN*/
  .TituloIndex {
    font-size: 200%;
  }
  .BajadaIndex {
    font-size: 125%;
  }
  .btn-primary {
    font-size: 100%;
  }
  .bannersInfo {
    font-size: 90%;
  }
  .grid-container {
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-columns: none;
    grid-column-gap: 0px;
    grid-template-areas: "section-1" "section-2" "section-3";
  }
  #section-1 {
    grid-area: section-1;
  }
  #section-2 {
    grid-area: section-2;
  }
  #section-3 {
    grid-area: section-3;
  }
  .bannersInfo {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .beneficiosTitulo {
    font-size: 150%;
  }
  .beneficiosLista {
    font-size: 100%;
  }
  .columnTestimonio {
    width: 100%;
  }
  .grid-container-testimonios {
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-columns: none;
    grid-column-gap: 0px;
    margin: 5%;
    grid-template-areas: "section-t-1" "section-t-2" "section-t-3";
  }
  #section-t-1 {
    grid-area: section-t-1;
  }
  #section-t-2 {
    grid-area: section-t-2;
  }
  #section-t-3 {
    grid-area: section-t-3;
  }
  .grid-item-testimonios {
    border-radius: 5%;
  }
  /*CONTACTO*/
  .grid-item-contacto {
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50px;
    padding-top: 2%;
  }
  /*NOSOTROS*/
  .grid-container-nosotros {
    grid-template-areas: "parrafo" "imagenGabi";
  }
  #parrafo {
    grid-area: parrafo;
  }
  #imagenGabi {
    grid-area: imagenGabi;
  }
  .imgNosotros {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  /*MAIN*/
  .TituloIndex {
    font-size: 200%;
  }
  .BajadaIndex {
    font-size: 125%;
  }
  .btn-primary {
    font-size: 100%;
  }
  .bannersInfo {
    font-size: 90%;
  }
  .grid-container {
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-columns: none;
    grid-column-gap: 0px;
    grid-template-areas: "section-1" "section-2" "section-3";
  }
  #section-1 {
    grid-area: section-1;
  }
  #section-2 {
    grid-area: section-2;
  }
  #section-3 {
    grid-area: section-3;
  }
  .bannersInfo {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .beneficiosTitulo {
    font-size: 150%;
  }
  .beneficiosLista {
    font-size: 100%;
  }
  .columnTestimonio {
    width: 100%;
  }
  .grid-container-testimonios {
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-columns: none;
    grid-column-gap: 0px;
    margin: 5%;
    grid-template-areas: "section-t-1" "section-t-2" "section-t-3";
  }
  #section-t-1 {
    grid-area: section-t-1;
  }
  #section-t-2 {
    grid-area: section-t-2;
  }
  #section-t-3 {
    grid-area: section-t-3;
  }
  .grid-item-testimonios {
    border-radius: 5%;
  }
  /*CONTACTO*/
  .grid-item-contacto {
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50px;
    padding-top: 2%;
  }
  /*NOSOTROS*/
  .grid-container-nosotros {
    grid-template-areas: "parrafo" "imagenGabi";
  }
  #parrafo {
    grid-area: parrafo;
  }
  #imagenGabi {
    grid-area: imagenGabi;
  }
  .imgNosotros {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
